<form class="question-container" [formGroup]="questionForm" class="border border-light p-5">
    <!-- (ngSubmit)="modificar()" -->
    <div class="question ml-sm-5 pl-sm-5">
        <div class="h5">
            <h2>Nueva pregunta</h2>
            <mat-label>Select</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
            
            <mat-form-field class="example-full-width" appearance="standard">
                <mat-label>Mandato:</mat-label>
                <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
            </mat-form-field>

            <div style="font-size: small;" class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options">
                <mat-form-field class="answer" appearance="outline">
                    <mat-label class="answer-label">Respuesta 1</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="answer" appearance="outline">
                    <mat-label class="answer-label">Respuesta 2</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="answer" appearance="outline">
                    <mat-label class="answer-label">Respuesta 3</mat-label>
                    <input matInput>
                </mat-form-field>
                <mat-form-field class="answer" appearance="outline">
                    <mat-label class="answer-label">Respuesta 4</mat-label>
                    <input matInput>
                </mat-form-field>
            </div>
            <div class="d-flex justify-content-end pt-3">
                <div id="prev">
                    <button class="btn btn-primary">
                        Enviar prueba
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>